.idea
*.log
__pycache__
.old/azure-pipeline/azure-pipelines.yml
.old
/clients/cli/target/
notes.md
*.bak
terraform.tfvars
IAC/helm/persys-devops/.helmignore
IAC/helm/persys-req/persys-req/.helmignore
