.cache
.idea
*.log
*.toml
__pycache__
.old/azure-pipeline/azure-pipelines.yml
.old/**
*.bak
terraform.tfvars
**/bin/
api-gateway/config.toml
prow/internal/scheduler/reconcile.txt
certs/
vault-mtls-mock/certs-runtime/
vault-mtls-mock/