# Observability
OTEL_EXPORTER_JAEGER_ENDPOINT=jaeger:4318
OTEL_EXPORTER_OTLP_ENDPOINT=jaeger:4318
OTEL_EXPORTER_OTLP_INSECURE=true
OTEL_SERVICE_NAME=persys-scheduler
COLLECTOR_OTLP_ENABLED=true

# Vault server container
VAULT_ADDR=http://vault:8200
VAULT_API_ADDR=http://vault:8200
VAULT_ROOT_TOKEN=

# Vault auth per service
PERSYS_GATEWAY_VAULT_ADDR=http://vault:8200
PERSYS_GATEWAY_VAULT_AUTH_METHOD=approle
PERSYS_GATEWAY_VAULT_TOKEN=
PERSYS_GATEWAY_VAULT_ROLE_ID=
PERSYS_GATEWAY_VAULT_SECRET_ID=
PERSYS_GATEWAY_MONGO_URI=mongodb://admin:admin@mongodb:27017/persys-gateway?authSource=admin
PERSYS_GATEWAY_GITHUB_WEBHOOK_SECRET=
PERSYS_GATEWAY_GITHUB_WEBHOOK_SECRET_FILE=
PERSYS_GATEWAY_GITHUB_CLIENT_ID=
PERSYS_GATEWAY_GITHUB_CLIENT_ID_FILE=
PERSYS_GATEWAY_GITHUB_CLIENT_SECRET=
PERSYS_GATEWAY_GITHUB_CLIENT_SECRET_FILE=
PERSYS_GATEWAY_FORGERY_GRPC_ADDR=

PERSYS_FORGERY_MYSQL_DSN=forgery:password@tcp(mysql:3306)/forgery_db?parseTime=true
PERSYS_FORGERY_REDIS_ADDR=redis:6379
PERSYS_FORGERY_REDIS_PASSWORD=
PERSYS_FORGERY_REDIS_PASSWORD_FILE=
PERSYS_FORGERY_VAULT_ADDR=http://vault:8200
PERSYS_FORGERY_VAULT_AUTH_METHOD=approle
PERSYS_FORGERY_VAULT_TOKEN=
PERSYS_FORGERY_VAULT_TOKEN_FILE=
PERSYS_FORGERY_VAULT_ROLE_ID=
PERSYS_FORGERY_VAULT_SECRET_ID=
PERSYS_FORGERY_GITHUB_WEBHOOK_SECRET=
PERSYS_FORGERY_GITHUB_WEBHOOK_SECRET_FILE=

# Forgery backing services
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=forgery_db
MYSQL_USER=forgery
MYSQL_PASSWORD=password

PERSYS_SCHEDULER_VAULT_ADDR=http://vault:8200
PERSYS_SCHEDULER_VAULT_AUTH_METHOD=approle
PERSYS_SCHEDULER_VAULT_TOKEN=
PERSYS_SCHEDULER_VAULT_ROLE_ID=
PERSYS_SCHEDULER_VAULT_SECRET_ID=

COMPUTE_AGENT_VAULT_ADDR=http://vault:8200
COMPUTE_AGENT_VAULT_AUTH_METHOD=approle
COMPUTE_AGENT_VAULT_TOKEN=
COMPUTE_AGENT_VAULT_ROLE_ID=
COMPUTE_AGENT_VAULT_SECRET_ID=

# Scheduler
ETCD_ENDPOINTS=etcd:2379
CERT_COMMON_NAME=persys-scheduler
CERT_ORGANIZATION=persys
SCHEDULER_AGENT_TLS_ENABLED=true
PERSYS_EXTERNAL_IP=

# Compute agent
PERSYS_TLS_ENABLED=true
PERSYS_GRPC_PORT=50051
PERSYS_LOG_LEVEL=info
PERSYS_RECONCILE_ENABLED=true
PERSYS_VM_ENABLED=false
PERSYS_SCHEDULER_INSECURE=false
PERSYS_SCHEDULER_ADDR=persys-scheduler:8085
DOCKER_SOCK_PATH=/var/run/docker.sock

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_USERS_ALLOW_SIGN_UP=false

# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin
MONGODB_DATABASE=persys-gateway
