global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'persys-gateway'
    static_configs:
      - targets: ['persys-gateway:8585']

  - job_name: 'persys-scheduler'
    static_configs:
      - targets: ['persys-scheduler:8084']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node_exporter:9100'] 

  - job_name: 'coredns'
    static_configs:
      - targets: ['coredns:9153'] 