apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{MICROSERVICE}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{MICROSERVICE}}
  template:
    metadata:
      labels:
        app: {{MICROSERVICE}}
    spec:
      containers:
      - name: {{MICROSERVICE}}
        image: {{{IMAGE}}
        ports:
        - containerPort: 8551